/* Estilos para ocultar el contenido principal */

#main-content {
    display: none;
}


/* Estilos para centrar el logo de carga */

#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Estilos para el logo de carga */

#loader {
    width: 100px;
    /* ajusta el tamaño según sea necesario */
    height: auto;
}